<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Database List</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <h1 style="text-align: center">Database Management</h1>
  <hr>
  <h2>Drop Database</h2>
  <form th:action="@{/drop}" method="post" onsubmit="return confirmDrop()">
    <label for="dropDatabase">Database:</label>
    <select id="dropDatabase" name="dbName">
      <option th:each="db : ${databases}" th:value="${db}" th:text="${db}">Database</option>
    </select>
    <button type="submit">Drop</button>
  </form>
  <hr>
  <h2>Create a New Database and Initialize from Blueprint and Add Test Users</h2>
  <p>
    <span>[Blueprint] SQL Script Status is</span>
    <strong
      class="script-status"
      th:text="${isBlueprintScriptReady ? 'Ok' : 'Invalid'}"
      th:style="${isBlueprintScriptReady ? '' : 'background-color:red;'}"
    ></strong>
    <button>Download</button>

    <input type="file" accept=".sql" name="blueprint-sql" id="blueprint-sql">
    <button>Upload</button>
  </p>
  <p>
    <span>[Test Users] SQL Script Status is</span>
    <strong
      class="script-status"
      th:text="${isTestUsersScriptReady ? 'Ok' : 'Invalid'}"
      th:style="${isTestUsersScriptReady ? '' : 'background-color:red;'}"
    ></strong>
    <button>Download</button>

    <input type="file" accept=".sql" name="test-users-sql" id="test-users-sql">
    <button>Upload</button>
  </p>
  <form th:action="@{/create-init}" method="post">
    <label for="newDatabaseName">New Database Name:</label>
    <input type="text" id="newDatabaseName" name="dbName" required>
    <button type="submit">Create</button>
  </form>
  <hr>
  <h2>Generate Test Data</h2>
  <form th:action="@{/execute}" method="post">
    <table border="0">
      <tr>
        <td>
          <label for="database">Database:</label>
        </td>
        <td colspan="2">
          <select id="database" name="databaseName">
            <option th:each="db : ${databases}" th:value="${db}" th:text="${db}">Database</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="schemaTableName">Schema Table Name:</label>
        </td>
        <td>
          <input type="text" id="schemaTableName" name="schemaTableName" th:value="${databaseSchemaTableName}">
        </td>
        <td>
          <button type="button" id="btnListMigrations">List Migrations</button>
        </td>
      </tr>
      <tr>
        <td>Migrations:</td>
        <td colspan="2">
          <select name="migrations" id="migrations" size="6">
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="theme">Theme:</label></td>
        <td colspan="2">
          <select id="theme" name="theme" onchange="updateCharacters()">
            <!-- Options will be populated by JavaScript -->
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2" style="text-align: left;"><button type="submit">Generate</button></td>
      </tr>
    </table>
  </form>

  <ul id="charactersList">
    <!-- character names will be displayed here -->
  </ul>
  <script th:src="@{/js/databases.js}"></script>
</body>
</html>
